@charset "UTF-8";
/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+css-extras+clike+javascript+php+php-extras+coffeescript+scss+bash+c+ruby+go+swift+objectivec+git+handlebars+markdown+jsx */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"], pre[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"], :not(pre) > code[class*="language-"] {
  background: #141414;
  /* #141414 */ }

/* Code blocks */
pre[class*="language-"] {
  margin: .5em 0;
  overflow: auto;
  padding: 1em; }

pre[class*="language-"]::selection {
  /* Safari */
  background: #27292a;
  /* #282A2B */ }

pre[class*="language-"]::selection {
  /* Firefox */
  background: #27292a;
  /* #282A2B */ }

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */ }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */ }

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  border: .13em solid #545454;
  /* #545454 */
  box-shadow: 1px 1px .3em -.1em black inset;
  padding: .15em .2em .05em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #787878;
  /* #777777 */ }

.token.punctuation {
  opacity: .7; }

.namespace {
  opacity: .7; }

.token.tag, .token.boolean, .token.number, .token.deleted {
  color: #cf694a;
  /* #CF6A4C */ }

.token.keyword, .token.property, .token.selector, .token.constant, .token.symbol, .token.builtin {
  color: #f9ee9a;
  /* #F9EE98 */ }

.token.attr-name, .token.attr-value, .token.string, .token.char, .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable, .token.inserted {
  color: #919e6b;
  /* #8F9D6A */ }

.token.atrule {
  color: #7386a5;
  /* #7587A6 */ }

.token.regex, .token.important {
  color: #e9c163;
  /* #E9C062 */ }

.token.important, .token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative; }

/* Markup */
.language-markup .token.tag, .language-markup .token.attr-name, .language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */ }

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1; }

.line-highlight {
  background: -moz-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: -o-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: -webkit-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  background: rgba(84, 84, 84, 0.25);
  /* #545454 */
  background: linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  /* #545454 */
  border-bottom: 1px dashed #545454;
  /* #545454 */
  border-top: 1px dashed #545454;
  /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0; }

.line-highlight:before, .line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: .4em;
  vertical-align: .3em; }

.line-highlight[data-end]:after {
  bottom: .4em;
  content: attr(data-end);
  top: auto; }

article a, .pagination-wrapper a {
  color: #2182cb; }
  article a:visited, .pagination-wrapper a:visited {
    color: #2182cb; }

* {
  box-sizing: border-box; }

body {
  font-family: 'proxima-nova', sans-serif;
  margin: 0; }
  body ::selection {
    color: white;
    background-color: #67C973; }

img {
  max-width: 100%;
  margin: 0.5em 0; }

li {
  margin: 1em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.2; }

.hide {
  display: none;
  visibility: hidden; }

.pl-max-width {
  max-width: 43.75em;
  width: 90%;
  margin: 0 auto;
  position: relative; }

.block {
  display: block; }

.tx-center {
  text-align: center; }

.tx-no-underline {
  text-decoration: none; }

.tx-bold {
  font-weight: bold; }

.tx-normal {
  font-weight: normal; }

.tx-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #2c2c6e;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.2; }

.pd_all {
  padding: 1em; }

.sp_top {
  margin-top: 1em; }

.sp_sm {
  margin-bottom: 0.5em; }

.sp {
  margin-bottom: 1em; }

.sp_lg {
  margin-bottom: 2em; }

.sp_none {
  margin: 0; }

.title-wrapper {
  padding: 0;
  list-style: none; }
  .title-wrapper .post-title:first-child {
    margin-top: 0; }
  .menu-open .title-wrapper {
    margin-top: 0; }

.post-title {
  margin: 3em auto; }
  .post-title > a {
    position: relative;
    padding-right: 1em; }

.pagination-wrapper {
  font-family: 'proxima-nova'; }
  .pagination-wrapper::after {
    clear: both;
    content: "";
    display: table; }

p, li {
  line-height: 1.6;
  font-size: 1.1em; }

blockquote {
  border-left: 7px solid #E5E5E5;
  padding-left: 1em;
  margin-left: 1em; }

a {
  color: #3A3A3A; }

.post-date {
  color: #666666;
  margin: 0.5em 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase; }
  .post-date a {
    color: #666666; }
    .post-date a:visited {
      color: #666666; }

.post-list {
  margin-bottom: 1em; }
  .post-list p {
    margin: 0; }

.dt-published {
  margin-left: 5px; }

.logo {
  width: 88px;
  cursor: pointer; }

.header {
  padding: 0;
  position: relative;
  z-index: 10; }
  .menu-open .header {
    background-color: #2c2c6e;
    position: fixed;
    width: 100%; }

.secondary-logos {
  position: absolute;
  top: 2.8em;
  right: 1em;
  display: none; }
  .menu-open .secondary-logos {
    display: block; }
  .secondary-logos img {
    height: 25px; }
  .secondary-logos a {
    display: inline-block;
    vertical-align: middle; }
  .secondary-logos .twitter-link {
    margin-right: 1em; }

.no-scroll {
  overflow: hidden; }

.logo-wrapper {
  padding-top: 1em; }

.animating .first-row, .animating .second-row, .animating .third-row, .animating .fourth-row {
  fill: #659ed2; }

.first-row, .second-row, .third-row, .fourth-row {
  -webkit-transition: fill 50ms ease-in-out;
  transition: fill 50ms ease-in-out; }

.first-row {
  -webkit-transition-delay: 0ms;
  transition-delay: 0; }

.second-row {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms; }

.third-row {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms; }

.fourth-row {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms; }

.note-container {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 6em; }

.note {
  margin: 2em auto; }

.note-date a {
  color: #C6C7DA;
  text-decoration: none;
  font-size: 0.8em;
  color: #C6C7DA;
  text-transform: uppercase; }

.note-content p {
  margin-top: 0; }

.menu {
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  color: #FFF;
  background: #2c2c6e;
  z-index: 5;
  display: none;
  height: 100%;
  width: 100%;
  margin-top: 5em; }

.menu-open .menu {
  display: block; }
.menu-open .sp_top {
  margin-top: 0; }

/*# sourceMappingURL=base.css.map */